@{
    Layout = null;
}
@{ /*
  <!DOCTYPE html>
  <html style="font-size: 16px;">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="page_type" content="np-template-header-footer-from-plugin">
      <title>projects</title>
      <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
      <link rel="stylesheet" href="~/css/projects.css" media="screen">
      <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
      <meta name="generator" content="Nicepage 2.28.1, nicepage.com">
      <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

      <meta property="og:title" content="projects">
      <meta property="og:type" content="website">
      <meta name="theme-color" content="#478ac9">
      <link rel="canonical" href="index.html">
      <meta property="og:url" content="index.html">
  </head>
  <body class="u-body">
      <section class="u-clearfix u-section-1" id="projects">
          <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
              <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
                  <div class="u-layout">
                      <div class="u-layout-col">
                          <div class="u-size-30">
                              <div class="u-layout-row">
                                  <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                                      <div class="u-container-layout u-valign-top u-container-layout-1">
                                          <img src="~/img/photo_2020-10-23_13-45-19.png" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="870" data-image-height="870">
                                          <h3 class="u-text u-text-1">
                                              @Localizer["TEC"]
                                          </h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-2">
                                              @Localizer["TEC_description"]
                                          </p>
                                      </div>
                                  </div>
                                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                                      <div class="u-container-layout u-valign-top u-container-layout-2">
                                          <img src="~/img/logo_8548_15325035142.png" alt="" class="u-expanded-width u-image u-image-default u-image-2">
                                          <h3 class="u-text u-text-default u-text-3"> @Localizer["BTS"]</h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-4">
                                              @Localizer["BTS_description"]
                                          </p>
                                      </div>
                                  </div>
                                  <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                                      <div class="u-container-layout u-valign-top u-container-layout-3">
                                          <img src="~/img/photo_2020-10-23_13-45-33.png" alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="300" data-image-height="300">
                                          <h3 class="u-text u-text-default u-text-5">  @Localizer["lightsamerica"]</h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-6">
                                              @Localizer["lightsamerica_description"]
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="u-size-30">
                              <div class="u-layout-row">
                                  <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-4">
                                      <div class="u-container-layout u-valign-top u-container-layout-4">
                                          <img src="~/img/photo_2020-10-23_13-45-34.png" alt="" class="u-expanded-width u-image u-image-default u-image-4" data-image-width="500" data-image-height="500">
                                          <h3 class="u-text u-text-default u-text-7">
                                              @Localizer["Alpha Recyclage"]<br>
                                          </h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-8">
                                              @Localizer["Alpha Recyclage_description"]
                                          </p>
                                      </div>
                                  </div>
                                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                                      <div class="u-container-layout u-container-layout-5">
                                          <img src="~/img/photo_2020-10-23_13-45-30.png" alt="" class="u-image u-image-default u-image-5" data-image-width="558" data-image-height="558">
                                          <h3 class="u-text u-text-default u-text-9">@Localizer["BMZ"]</h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-10">
                                              @Localizer["BMZ_description"]
                                          </p>
                                      </div>
                                  </div>
                                  <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                                      <div class="u-container-layout u-valign-top u-container-layout-6">
                                          <img src="~/img/Sellbery_2_1-1.png" alt="" class="u-expanded-width u-image u-image-default u-image-6" data-image-width="500" data-image-height="500">
                                          <h3 class="u-text u-text-default u-text-11">@Localizer["sellbery"]</h3>
                                          <p class="u-small-text u-text u-text-default u-text-font u-text-variant u-text-12">
                                              @Localizer["sellbery_description"]
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>



      <section class="u-backlink u-clearfix u-grey-80">
          <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
              <span>Website Templates</span>
          </a>
          <p class="u-text">
              <span>created with</span>
          </p>
          <a class="u-link" href="https://nicepage.com/" target="_blank">
              <span>Website Builder Software</span>
          </a>.
      </section>
  </body>
  </html>
  */
}